body{
background-color: #141d26;
color: white;
}
button{

background-color:#1565c0;

border:none;

color:white;

border-radius:10px;

height:30px;

}
#barralogin{
  width: 500px;
  display: inline;
  color:white;
}#btnlogin{

}#barramsg{
  width: 500px;
  display: inline;
  color: white;
}#tweet{
  background-color: #243447;
  color : white;
  display: inline-block;
  width: 500px;
  margin-bottom: 20px;
}
